h2 {
    color:blueviolet;
}

#primeiroparagrafo {
    color: blueviolet;
    text-align: center;

}

.exercise-one {
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    border: 1px solid green;
  
   
}
.primeiro {
    border: 1px solid #ddd;
    width: 80px;
    height: 80px;
    
    
}

.paragrafohtres {
    color: black;
}