article {
    background-color: #ffffff;
    border-top: 5px solid #090b0b;
    border-bottom: 5px solid #090b0b;
    border-right: 5px solid #090b0b;
    border-left: 5px solid #090b0b;
    padding: 10px 50px 0px 0px;
}

h2{
    background-color: #f5f5f5;;
    text-align: center;
}

#Price {
    font-size: 25px;

}

#free {
    font-family: serif;
    color: #999a9a;
    text-transform: uppercase;

}

#Seta {
    color: #090b0b;

}

#titulo3 {
    text-transform: uppercase;
}

button {
    background-color: #090b0b;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 20px;
}